html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 시작 부분 */

a {
  background-color: transparent;
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
}
#container {
  border: 1px solid red;
  width: 1050px;
  height: 7976.44px;
  margin: 0 auto;
}

#header {
  height: 156px;
  width: 1050px;
  margin: 0 auto;
  color: black;
}
#menu {
  width: 1050px;
  height: 26px;
  margin: 0 auto;
}
#menu * {
  font-family: noto sans;
  font-weight: 400;
  letter-spacing: -0.3px;
}
#menu .list_menu {
  float: right;
  position: relative;
  z-index: 400;
}

#menu .list_menu_join {
  float: left;
  padding-right: 11px;
  height: 26px;
  padding: 0 22px 0 10px;
  line-height: 35px;
  white-space: nowrap;
}

#menu .list_menu .login {
  padding: 0 16px 0 15px;
  color: #333;
}

#menu .list_menu .gkgk {
  padding-right: 13px;
  color: #333;
}

#headerLogo {
  border: 2px solid black;
  height: 63px;
  margin: 0 auto;
}
#headerLogo .logo img {
  width: 103px;
  height: 79px;
  margin: 0 auto;
  display: block;
}

#menubar {
  border: 1px solid red;
  width: 1050px;
  height: 56px;
  margin: 0 auto;
}
#menubar .gnb_main ul {
  margin: 0 auto;
  overflow: hidden;
  font-weight: 500;
  float: left;
}
#menubar .gnb_main ul li {
  float: left;
  width: 124px;
  height: 55px;
  padding: 16px 0 0;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  text-align: center;
}
#menubar .side_search .inp_search {
  width: 242px;
  height: 36px;
  margin-top: 10px;
  padding: 0 40px 0 14px;
  border: 1px solid #f7f7f6;
  border-radius: 18px;
  background-color: #f7f7f7;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 12px;
  color: #666;
  line-height: 16px;
  outline: none;
}
#menubar .btn-search {
  position: relative;
  right: 5px;
  top: 3px;
  width: 30px;
  height: 30px;
}

#menubar .btn_cart {
  position: relative;
  width: 30px;
  height: 50px;
  float: right;
  background-color: red;
}

#menubar .btn_location {
  overflow: hidden;
  position: relative;
  right: 51px;
  top: -9px;
  width: 36px;
  height: 36px;
  border: 0 none;
  font-size: 0;
  text-indent: -9999px;
  background: url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting.svg?ver=1)
    no-repeat 50% 50%;
}

#main {
  height: 7381.33px;
  width: 1050px;
  border: 1px solid black;
  border-bottom: 1px solid #f7f7f7;
  text-align: center;
}
#content {
  border: 2px solid gray;
  padding-bottom: 0;
}
#content .bx-viweport {
  overflow: hidden;
  position: relative;
  height: 370px;
}

.bx-viweport ul li {
  list-style: none;
  position: relative;
  text-align: center;
  width: 1243px;
}
.thumb_goods img {
  height: 370px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto auto;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

#main * {
  color: black;
}
#main .tit_goods {
  padding: 79px 0 35px;
}
#main .tit_goods .tit {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.3px;
  text-align: center;
}

#main .tit_goods .name {
  position: relative;
  font-weight: 700;
}
.main_type2 .list_goods {
  width: 1050px;
  height: 506px;
  margin: 0 auto;
}
.list_goods .bx-viweport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 506px;
  margin: 0px auto;
}
.main_type2 .list_goods .thumb_goods img {
  width: 200px;
  height: 300px;
  display: block;
  overflow: hidden;
  position: relative;
}
.global_sticker {
  display: block;
  position: relative;
  height: 0;
}
.main_type2 .global_sticker .inner_sticker {
  left: 0;
  top: 0;
}
.global_sticker .bg_sticker {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 40%;
  height: 32px;
  background-color: #bd76ff;
  opacity: 0.9;
  color: #fff;
}

.global_sticker .emph_sticker {
  font-weight: 700;
  font-size: 14px;

  line-height: 30px;
  position: relative;
  z-index: 1;
}

.list_goods ul {
  width: 2215%;
  position: relative;
  transition-duration: 0s;
  transform: translate3d(0px, 0px, 0px);
}
.list_goods ul li {
  float: left;
  list-style: none;
  position: relative;
  width: 249px;
  margin-right: 18px;
}
.main_type2 .list_goods .name {
  overflow: hidden;
  max-height: 50px;
  margin-top: 12px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.main_type2 .list_goods a {
  cursor: pointer;
}
.main_type2 .list_goods .txt {
  font-size: 16px;
  line-height: 23px;
}
.main_type2 .list_goods .price {
  display: block;
  padding-top: 9px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}
.main_type2 .list_goods .dc {
  padding-right: 8px;
  font-weight: 800;
  font-size: 16px;
  color: #fa622f;
  line-height: 20px;
}
.main_type2 .list_goods .cost {
  display: block;
  padding-top: 5px;
  font-size: 14px;
  color: #999;
  line-height: 18px;
  text-decoration: line-through;
}
.main_type2 .list_goods #merchandise1 {
  border: 3px solid black;
  height: 146px;
  margin: 0 auto;
}

#merchandise1-pic {
  border: 1px solid red;
  height: 506px;
}

#merchandise2 {
  border: 1px solid blue;
  margin: 0 auto;
}
#merchandise2-pic {
  border: 1px solid darkgreen;
  width: 1050px;
}
