html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 시작 부분 */

a {
  background-color: transparent;
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
}
#container {
  border: 2px solid red;
  width: 1050px;
  height: 9581px;
  margin: 0 auto;
}

#header {
  height: 156px;
  width: 1050px;
  margin: 0 auto;
  color: black;
}
#menu {
  width: 1050px;
  height: 26px;
  margin: 0 auto;
}
#menu * {
  font-family: noto sans;
  font-weight: 400;
  letter-spacing: -0.3px;
}
#menu .list_menu {
  float: right;
  position: relative;
  z-index: 400;
}

#menu .list_menu_join {
  float: left;
  padding-right: 11px;
  height: 26px;
  padding: 0 22px 0 10px;
  line-height: 35px;
  white-space: nowrap;
}

#menu .list_menu .login {
  padding: 0 16px 0 15px;
  color: #333;
}

#menu .list_menu .gkgk {
  padding-right: 13px;
  color: #333;
}

#headerLogo {
  border: 2px solid black;
  height: 63px;
  margin: 0 auto;
}
#headerLogo .logo img {
  width: 103px;
  height: 79px;
  margin: 0 auto;
  display: block;
}

#menubar {
  border: 1px solid rgb(55, 0, 255);
  width: 1060px;
  height: 56px;
  margin: 0 auto;
}
#menubar .gnb_main ul {
  margin: 0 auto;
  overflow: hidden;
  font-weight: 500;
  float: left;
}
#menubar .gnb_main .menu1 .ico {
  background: url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off_x2.png)
    no-repeat;
  float: left;
  width: 16px;
  height: 14px;
  margin: 5px 14px 0 0;
}
#menubar .gnb_main ul li {
  float: left;
  width: 133px;
  height: 55px;
  padding: 16px 0 0;
  font-size: 16px;
  color: #333;
  line-height: 20px;
  text-align: center;
}
#menubar .side_search .inp_search {
  width: 242px;
  height: 36px;
  margin-top: 10px;
  padding: 0 40px 0 14px;
  border: 1px solid #f7f7f6;
  border-radius: 18px;
  background-color: #f7f7f7;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 12px;
  color: #666;
  line-height: 16px;
  outline: none;
}
#menubar .btn-search {
  position: relative;
  right: 5px;
  top: 3px;
  width: 30px;
  height: 30px;
}

#menubar .btn_cart {
  position: relative;
  width: 30px;
  height: 50px;
  float: right;
  background-color: red;
}

#menubar .btn_location {
  overflow: hidden;
  position: relative;
  right: 51px;
  top: -9px;
  width: 36px;
  height: 36px;
  border: 0 none;
  font-size: 0;
  text-indent: -9999px;
  background: url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting.svg?ver=1)
    no-repeat 50% 50%;
}

#main {
  height: 8610px;
  width: 1050px;
  border: 3px solid black;
  border-bottom: 1px solid #f7f7f7;
  text-align: center;
}
#main .ico {
  color: #333;
}
#content {
  border: 2px solid gray;
  height: 9581px;
  width: 1050px;
  padding-bottom: 0;
}
#content .bx-viweport {
  position: relative;
  height: 370px;
}

.bx-viweport ul li {
  list-style: none;
  position: relative;
  text-align: center;
  width: 1243px;
}
.thumb_goods img {
  height: 370px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto auto;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

#main .tit_goods {
  padding: 79px 0 35px;
}
#main .tit_goods .tit {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.3px;
  text-align: center;
}

#main .tit_goods .name {
  position: relative;
  font-weight: 700;
}

.main_type2 .list_goods {
  width: 1050px;
  height: 506px;
  margin: 0 auto;
}
.list_goods .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 506px;
  margin: 0px auto;
}
.main_type2 .list_goods .thumb_goods img {
  width: 200px;
  height: 300px;
  display: block;
  overflow: hidden;
  position: relative;
}
.global_sticker {
  display: block;
  position: relative;
  height: 0;
}
.main_type2 .global_sticker .inner_sticker {
  left: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
  height: 32px;
  padding: 0 8px;
  text-align: center;
  white-space: nowrap;
}
.main_type2 .global_sticker .bg_sticker {
  position: relative;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 32px;
  background-color: #bd76ff;
  opacity: 63.9;
}
.global_sticker .emph_sticker {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  z-index: 1;
  position: relative;
}

.list_goods ul {
  width: 2215%;
  position: relative;
  transition-duration: 0s;
  transform: translate3d(0px, 0px, 0px);
}
.list_goods ul li {
  float: left;
  list-style: none;
  position: relative;
  width: 249px;
  height: 506px;
  margin-right: 18px;
}
.main_type2 .list_goods .name {
  overflow: hidden;
  max-height: 50px;
  margin-top: 12px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.main_type2 .list_goods a {
  cursor: pointer;
}
.main_type2 .list_goods .txt {
  font-size: 16px;
  line-height: 23px;
}
.main_type2 .list_goods .price {
  display: block;
  padding-top: 9px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}
.main_type2 .list_goods .dc {
  padding-right: 8px;
  font-weight: 800;
  font-size: 16px;
  color: #fa622f;
  line-height: 20px;
}
.main_type2 .list_goods .cost {
  display: block;
  padding-top: 5px;
  font-size: 14px;
  color: #999;
  line-height: 18px;
  text-decoration: line-through;
}
.main_type2 .list_goods #merchandise1 {
  border: 3px solid black;
  height: 146px;
  margin: 0 auto;
}
.main_type2 {
  color: #333;
}
.main_type3 {
  color: #333;
}

.main_special {
  padding-bottom: 88px;
}
.main_special .inner_special {
  overflow: hidden;
  width: 1050px;
  margin: 0 auto;
  padding-top: 20px;
}
.main_special .tit_goods {
  float: left;
  width: 338px;
  padding: 11px 0 7px 10px;
}
.main_special .tit_goods .tit {
  height: 173px;
  padding-left: 28px;
  text-align: left;
}
.main .tit_goods .tit {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.3px;
}
.main_special .tit_goods .name {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  position: relative;
}
.main_special .tit_goods .tit_desc {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  display: block;
  padding-top: 10px;
  font-weight: 400;
  color: #999;
}
.main_special .sub_hooks {
  padding: 0 0 10px 22px;
  background-size: 18px 18px;
  font-size: 14px;
  color: #ccc;
  line-height: 20px;
  letter-spacing: -0.4px;
}
.main_special .list_goods {
  float: right;
  width: 694px;
}
.main_special .list_goods .list {
  overflow: hidden;
  width: 712px;
}
#main .list_goods .thumb {
  width: 694px;
  height: 338px;
}
.main_special .list_goods .thumb_goods {
  position: relative;
  background-color: #eee;
}
#main .list_goods .thumb_goods {
  display: block;
}
#main .list_goods .thumb_goods .thumb {
  display: block;
  margin: 0 auto;
  background-position: 50% 50%;
  background-size: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
#main .list_goods .info_goods {
  position: relative;
}
.main_special .list_goods .name {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 13px 0 0 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main_special .list_goods .txt {
  font-size: 16px;
  line-height: 24px;
}
.main_special .list_goods .sub_name {
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 5px 0 7px 4px;
  font-size: 16px;
  color: #999;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main_special .list_goods .price {
  overflow: hidden;
  padding-left: 4px;
  display: inline;
}
.main_special .list_goods .dc {
  float: left;
  display: inline;
  padding-right: 6px;
  font-weight: 800;
  font-size: 20px;
  color: #fa622f;
  line-height: 30px;
}
.main_special .list_goods .in_price {
  float: left;
}
.main_special .list_goods .selling {
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
}
.main_special .list_goods .cost {
  padding-left: 4px;
  font-size: 14px;
  color: #999;
  line-height: 30px;
  text-decoration: line-through;
}

#main .main_type3 {
  background-color: #f7f7f7;
}
#main .tit_goods {
  padding: 79px 0 35px;
}
#main .tit_goods .tit {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.3px;
  text-align: center;
}
#main .tit_goods .name {
  position: relative;
  font-weight: 700;
}
#main .tit_goods .tit .name .ico {
  padding: 0 31px;
  background: url(https://res.kurly.com/pc/service/main/1908/ico_title_link_x1.png)
    no-repeat 100% 50%;
  font-weight: 700;
}
#main_event .list_goods {
  overflow: hidden;
  height: 538px;
}
.main_type3 .list_goods {
  width: 1050px;
  margin: 0 auto;
}
#main .list_goods .list {
  width: 1068px;
}
#main .list_goods li {
  height: 538px;
}
.main_type3 .list_goods li {
  float: left;
  width: 338px;
  margin-right: 18px;
}
.main_type3 .list_goods .thumb_goods {
  display: block;
  position: relative;
}
#main .list_goods .thumb_goods img {
  display: block;
  margin: 0 auto;
  background-position: 50% 50%;
  background-size: cover;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.main_event .list_goods .name {
  max-height: 54px;
  margin-top: 17px;
  text-align: center;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.main_event .list_goods .txt {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.3px;
}
.main_event .list_goods .desc {
  padding-top: 8px;
}
.main_type3 * {
  color: #333;
}
.main_type3 .list_goods .desc {
  display: block;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main_type3 .list_goods .txt {
  color: #999;
  font-size: 16px;
  line-height: 20px;
}
.bnr_main {
  width: 1050px;
  margin: 0 auto;
}
.bnr_main .link {
  display: block;
  min-height: 140px;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}
.bnr_main .link .img {
  border: 0;
}
.category_type {
  padding-bottom: 100px;
}
#main .tit_goods {
  padding: 79px 0 35px;
}
.category_type .category .list {
  width: 1050px;
  max-width: 1050px;
  padding: 0 0 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}
.category_type .category .list li {
  display: inline-block;
  padding: 0 5px 20px;
}
.category_type .category .menu {
  display: inline-block;
  height: 28px;
  padding: 9px 20px 0 19px;
  border: 1px solid #f7f7f6;
  color: #333;
  border-radius: 20px;
  background-color: #f7f7f7;
  font-size: 14px;
  line-height: 18px;
}
.category_type .link_cate {
  width: 516px;
  margin: 0 auto;
}
.category_type .link_cate .link {
  display: block;
  overflow: hidden;
  height: 56px;
  padding-top: 16px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.3px;
  cursor: pointer;
}
.category_type .link_cate .ico {
  padding: 0 18px;
  background: url(https://res.kurly.com/pc/service/main/1903/ico_more_link_x1.png)
    no-repeat 100% 3%;
}
#main .main_type2_bg {
  background-color: #f7f7f7;
}

.main_type2_bg .list_goods .name {
  overflow: hidden;
  max-height: 50px;
  margin-top: 12px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.main_type2_bg .list_goods a {
  cursor: pointer;
}
.main_type2_bg .list_goods .txt {
  font-size: 16px;
  line-height: 23px;
}
.main_type2_bg .list_goods .price {
  display: block;
  padding-top: 9px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}
.main_type2_bg .list_goods .dc {
  padding-right: 8px;
  font-weight: 800;
  font-size: 16px;
  color: #fa622f;
  line-height: 20px;
}
.main_type2_bg .list_goods .cost {
  display: block;
  padding-top: 5px;
  font-size: 14px;
  color: #999;
  line-height: 18px;
  text-decoration: line-through;
}
.main_type3_bg .list_goods {
  width: 1050px;
  margin: 0 auto;
  height: 340px;
}
.main_type3_bg .list_goods .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 225px;
  margin: 0px auto;
}
.main_recipe .list_goods li {
  float: left;
  list-style: none;
  position: relative;
  width: 338px;
  margin-right: 18px;
}
.list_goods li .goods {
  width: 335px;
  height: 225px;
}
.main_recipe .list_goods .name {
  padding-top: 12px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main_recipe .list_goods .txt {
  font-size: 16px;
  line-height: 20px;
}
.main_type4 .insta_goods {
  padding: 79px 0 35px;
}

.main_type4 .insta_list_goods {
  width: 1050px;
  height: 175px;
}
.main_type4 .insta_goods .insta_tit {
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.3px;
  text-align: center;
}

.main_type4 .insta_list_goods ul {
  width: 2715%;
  position: relative;
  transition-duration: 0s;
  transform: translate3d(0px, 0px, 0px);
}
.main_type4 .insta_list_goods ul li {
  float: left;
  list-style: none;
  position: relative;
  width: 175px;
}
.insta_list_goods li .instart {
  width: 175px;
  height: 175px;
}
.main_type4 .bnr1 {
  padding: 39px 0 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
}
.main_type4 .bnr1 .txt1 {
  display: block;
  font-weight: 400;
  color: #999;
}
.bnr_main {
  width: 1050px;
  margin: 0 auto;
}
.bnr_main .link {
  background-image: url(https://img-cf.kurly.com/shop/data/main/15/pc_img_1629447526.jpg);
  display: block;
  min-height: 140px;
  background-color: #eee;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}
#footer {
  border: 4px solid skyblue;
  width: 1050px;
  margin: 0 auto;
  padding-bottom: 60px;
  font-weight: 400;
  letter-spacing: -0.2px;
}

#footer .inner_footer {
  overflow: hidden;
  padding-bottom: 20px;
}
#footer .foot_cc {
  float: left;
  width: 534px;
}
#footer .tit_cc {
  padding: 29px 0 2px;
  font-weight: 700;
  font-size: 20px;
  color: #333;
  line-height: 24px;
}
#footer .cc_call {
  padding-top: 20px;
}
/* h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
} */
#footer .cc_call .call {
  padding-top: 4px;
  font-weight: 800;
  font-size: 28px;
  color: #333;
  line-height: 36px;
  letter-spacing: -0.5px;
  white-space: nowrap;
}

#footer .cc_view .call {
  float: left;
  width: 140px;
  margin-right: 16px;
}
#footer .foot_cc .list_li {
  font-size: 14px;
  color: #333;
  line-height: 22px;
  letter-spacing: -0.2px;
}
#footer .foot_cc .list_li dt {
  display: block;
}
#footer .foot_cc .list_li dd {
  color: #999;
}
#footer .cc_view {
  overflow: hidden;
  padding-top: 16px;
}
#footer .cc_kakao .call {
  height: 40px;
  padding-top: 7px;
  margin-top: 3px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  color: #333;
  line-height: 22px;
  text-align: center;
}
#footer .foot_cc .list_li {
  font-size: 14px;
  color: #333;
  line-height: 22px;
  letter-spacing: -0.2px;
}
#footer .cc_qna .call {
  height: 40px;
  padding-top: 7px;
  margin-top: 3px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  color: #333;
  line-height: 22px;
  text-align: center;
}
#footer .cc_bulkorder .call {
  height: 40px;
  padding-top: 7px;
  margin-top: 3px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  color: #333;
  line-height: 22px;
  text-align: center;
}
#footer .cc_bulkorder .txt {
  padding-top: 9px;
  color: #999;
}
#footer .company {
  float: left;
  padding-top: 29px;
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
#footer .company .list {
  overflow: hidden;
  width: 100%;
  padding-bottom: 20px;
}
#footer .company .list li {
  float: left;
  padding-right: 16px;
}
#footer .company .list .link {
  font-size: 14px;
  color: #333;
  line-height: 18px;
}
#footer .company .bar {
  padding: 0 4px 0 3px;
}
#footer .company .link {
  color: #5f0080;
}
#footer .company .copy {
  display: block;
  padding-top: 16px;
  font-style: normal;
  font-size: 10px;
  color: #949296;
  line-height: 22px;
  letter-spacing: 0;
}
